@mixin YellowBoton($pad,$wgt:800){
    background: $yellow;
    color: #000;
    text-transform: uppercase;
    padding: $pad;
    cursor: pointer;
    font-weight: $wgt;
    border: none;
    @content
}