@mixin Boton($pad,$wgt:800,$color: $yellow){
    background: $color;
    color: #000;
    text-transform: uppercase;
    padding: $pad;
    cursor: pointer;
    font-weight: $wgt;
    border: none;
    @content
}